<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/banco-tcp</property>
        <property name="hibernate.connection.username">userdata</property>
        <property name="hibernate.connection.password">123456</property>

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>

        <mapping class="co.scastillos.app.entidades.Usuario"/>
        <mapping class="co.scastillos.app.entidades.Cuenta"/>
        <mapping class="co.scastillos.app.entidades.Movimiento"/>
        <mapping class="co.scastillos.app.entidades.Sesion"/>

    </session-factory>
</hibernate-configuration>
